.entry__link {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #FFF;
text-decoration: none;
margin: 15px auto;
transition: opacity .5s;
}

.entry__link:hover {
opacity: .6;
}

@media(max-width: 440px) {
    .entry__link {
        margin-top: 20px;
    }
}