.entry__input-error {
    color: #ab0e0e;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    top: 30px;
    left: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media(max-width: 440px) {
    .entry__input-error {
        font-size: 11px;
        line-height: 13px;
    }
}